<ion-header>

  <ion-navbar>
    <ion-title>confirm</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding> 
    <ion-list>
          <ion-item>
            <ion-label> <ion-icon ios="ios-document" md="md-document" style="color: green;"></ion-icon></ion-label>
            <ion-input type="text" value="{{Ttype}}" ></ion-input>
          </ion-item>
          
          <ion-item>
              <ion-label>  <ion-icon name="pin" style="color: green;"></ion-icon></ion-label>
            <ion-input type="text" value="{{from}}" ></ion-input>
          </ion-item>
 
          <ion-item>
              <ion-label>  <ion-icon name="pin" style="color: red;"></ion-icon></ion-label>
            <ion-input type="text" value="{{to}}"></ion-input>
          </ion-item>
        
          <ion-item>
              <ion-label> <ion-icon name="ios-clock-outline"></ion-icon></ion-label>
            <ion-input type="text" value="{{date}}"></ion-input>
          </ion-item>

        </ion-list>
        
        <ion-scroll scrollX="true"   style="overflow: scroll; white-space: nowrap; height: 70px">
               
                            <a class="cc-selector" *ngFor="let p of mydata;let i=index" >
                                        <!-- <input id="{{p.Type}}" type="radio" name="{{p.Type}}" value="{{p.Type}}" (click)="uncheck($event)" [(ngModel)]="test" *ngIf="$index==1?(p.Type):''" /> -->
                                        <input id="{{p.Type}}" type="radio" name="{{p.Type}}" value="{{p.Type}}"  [(ngModel)]="test"  />
                                        <label class="drinkcard-cc visa" for="{{p.Type}}">{{p.Type}}</label>
                                       
                            </a> 
                           
                    </ion-scroll>
        
        <ion-row>
             
          <ion-col>
              <button ion-button style="
              width: -webkit-fill-available; 
          "(click)="presentConfirm(test)">Estimate</button>
          </ion-col>

          <ion-col>
              <button ion-button style="
              width: -webkit-fill-available;
          ">Availability</button>
          </ion-col>
        </ion-row>
       
        <ion-footer>
      <button ion-button full (click)="Confirm(test)">Confirm</button>
      </ion-footer>

    </ion-content>
